$accent: #8dc6f2;
$text: #ffffff;
$edit: #d4a05ca5;
$done: #56b346a0;
$delete: #f11e1ea9;
$time: 200ms;
$cubic: cubic-bezier(0.4, 0, 0.2, 1);

// common styles

body {
  font-family: 'Roboto', sans-serif;
  font-size: 16px;
}

h1,
h2,
p {
  padding: 0;
  margin: 0;
}

ul {
  list-style: none;
  padding: 0;
  margin: 0;
}

nav {
  margin-bottom: 50px;
}

.container {
  width: 1200px;
  padding-left: 15px;
  padding-right: 15px;
  margin: 0 auto;
}

.btn {
  width: 100px;
  padding: 10px 5px;
  border: none;
  border-radius: 10px;

  font-family: 'Roboto Mono', monospace;
  font-weight: 500;
  font-size: 16px;
  text-align: center;
  color: $text;
  cursor: pointer;
}

// nav buttons

.nav__list {
  display: flex;
  justify-content: center;
  gap: 20px;
  align-items: center;
}

.nav__btn {
  background-color: $accent;
  color: $text;
}

// ToDo input

.todo__link {
  color: $accent;
  text-decoration: none;
}

.todo__title {
  margin-bottom: 20px;
  font-family: 'Dancing Script', cursive;
  font-size: 36px;
  text-align: center;
}

.todo__form {
  display: flex;
  gap: 10px;
  width: 50%;
  margin: 0 auto 50px;
}

.todo__field {
  width: calc(100% - 100px);
  padding: 15px;
  border: 1px solid $accent;
  border-radius: 20px;
  font-size: 18px;
  color: $accent;

  &::placeholder {
    color: #8dc6f29d;
  }

  &:focus {
    outline: none;
  }
}

.todo__submit {
  padding: 15px 10px;
  background-color: transparent;
  border: 1px solid $accent;

  font-size: 18px;
  text-transform: uppercase;
  color: $accent;

  transition: $time $cubic;

  &:hover {
    background-color: $accent;
    color: $text;
  }
}

// ToDo list

.todo__list {
  display: flex;
  flex-direction: column;
  gap: 10px;
  width: 50%;
  margin: 0 auto;
}

.todo__item {
  display: flex;
  justify-content: space-between;
  align-items: center;

  padding: 15px;
  border: 1px solid $accent;
  border-radius: 20px;

  &-done {
    border: 3px solid $done;
  }
}

.todo__input {
  flex-grow: 1;
  border: none;
  font-family: 'Roboto', sans-serif;
  font-size: 18px;

  &:focus {
    outline: none;
  }
}

.todo__btn-item {
  width: 50px;
  padding: 0px 5px;
  border: none;
  border-radius: 10px;
  background-color: transparent;

  font-family: 'Roboto Mono', monospace;
  font-size: 12px;
  text-transform: lowercase;
  text-align: center;
}

// setting colors

.todo__edit {
  color: $edit;
}

.todo__done {
  color: $done;
}

.todo__delete {
  color: $delete;
}
